/* CSS Document */
body{
    background-image: url(../R-C.jpg) no-repeat;
}
div{
			text-align:left;
	        position: fixed;
			height: 100%;
			width: 100%;
			background-size:cover;
			position: absolute;
			left: 0;
			right: 0;
}

#box{
			height:50px ;
			width:300px ;
			border:1px solid rgba(53,190,232,1.00);
			background:rgba(220,38,38,0.2);
			margin-top:1000px;
			}

#example1
{
	border:4px solid #a1a1a1;
	padding:10px 40px; 
	background:#dddddd;
	width:300px;
	heigth:auto;
	border-radius:100px;
}




#f1{
    height: auto;
    width: 2000px;
    border: 10px solid yellow;
    background:rgba(39,180,157,0.17);
    margin-top: auto;
    margin-right: auto;
	margin-left: 1200px;
    margin-bottom: auto;
}

a{
	padding-left:20px;
	color: aquamarine;
}
		
a:active{
    color: #311323
}
p1,p2,p3 {
    color: aqua;
    font-size: 5rem;
    margin-left:auto;
    margin-top: auto;
    margin-right: auto;
	margin-bottom: auto;
}

#blo {
	position:relative;
	left:-100px;
	background-attachment: fixed;
	border-radius: 100px;
}

zt {
	font-size:5rem;
}

#bc {
	background-color:rgba(174,115,139,0.17);
	height:auto;
	width:1000px;
	text-align:left;
	margin-top: 400px;
    margin-right: auto;
    margin-left:1000px;
    margin-bottom: auto;
	border:10px solid yellow;
	border-radius: 50px;
}
	

bl {
	color: aqua
}

h1,h2,h3,h4 {
	padding-left: 50px;
	olor:aqua;
	font-size:5rem;
}


  .link {
    width: 200px;
    height: 200px;
    display: inline-block;
	background: rgba(183,93,190,0.12)
}


#xx {
	background-color:rgba(174,115,139,0.17);
	height:auto;
	width:1000px;
	text-align:left;
	margin-top: 400px;
    margin-right: auto;
    margin-left:2300px;
    margin-bottom: auto;
	border:10px solid yellow;
	border-radius: 50px;
}

.player {
	margin:200px auto auto auto;
	width:400px;
	height:100px ;
	
}
